<span class="text">
    {{cloze:Text}}
</span>
<div class="extra">
    {{Extra}}
</div>
<style>
    .card {
        background-color: white;
        text-align: left;
    }
    
    .text {
        font-family: arial;
        font-size: 18px;
        color: black;
    }
    
    .cloze::before {
        content: '';
        display: block;
        height: 1px;
        background: #ccc;
        margin: 9px;
    }
    
    .cloze {
        display: block;
    }
    
    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
        
    }
    
    th,
    td {
        padding: 20px 30px;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 0 auto;
        display: block;
    }
</style>